[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
twine = "*"
build = "*"

[requires]
python_version = "3.11"

[scripts]
clean = "rm -rf dist build logics_py.egg-info"
test = "python -m unittest"
pypi-build = "python -m build --wheel"  # PIPENV_VENV_IN_PROJECT=0 pipenv run pypi-build
pypi-upload = "twine upload dist/*"     # PIPENV_VENV_IN_PROJECT=0 pipenv run pypi-upload
