[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
twine = "*"
build = "*"
pytest = "*"

[requires]
python_version = "3.11"

[scripts]
test = "python -m pytest"
clean = "rm -rf dist build logics_py.egg-info"
build = "bash -c 'cp ../README.md README.md; python -m build --wheel; rm README.md'"
publish = "twine upload dist/*"
